<div class="total">
  <div class="head">
    <mat-card>
      <h2>Student Details</h2>
    </mat-card>
  </div>
  
  <div class=".example-container">
    <div class="form">
      <!--<app-detailsform (update)="updateList($event)" [student]="currentStudent"></app-detailsform>-->
      <br>
      <br>
      <button mat-raised-button color="primary" routerLink="form">Add new student</button>
    <button mat-raised-button color="primary" routerLink="detailstable" style="margin-left: 20px;">Go to the details</button>
    
    </div>
    
    
  </div>
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
</div>